body {
    background-color:#015668;
    text-align: center;
}
h1 {
    color: #fff1cf;
    font-size: 100px;
    font-family: 'Roboto Slab', serif;
}
p {
    color:#ffd369;
    font-family: 'Raleway', sans-serif;
}
#myInfo {
    background-color: chartreuse;
}